html {
    scroll-behavior: smooth;
}

body {
    margin: 20px;
    padding: 20px;
    background-color: red;
}

.footer {
    width: 40%;
    height: 70px;
    background-color: rgb(27, 27, 27);
    position: fixed;
    margin-top: -100vh;
}

.css-logo {
    width: 38%;
    height: 100%;
    background-color: rgb(255, 207, 51);
}

.css-logo > #css {
    width: 45px;
    display: block;
    margin: auto;
    padding-top: 4px;
    cursor: pointer;
}

.css-logo > #html {
    width: 65px;
    display: block;
    margin: auto;
    padding-top: 4px;
    cursor: pointer;
    margin-top: -1.5px;
    display: none;
    margin-left: 34%;
}

.footer .line {
    width: 1.5px;
    height: 50px;
    background-color: rgb(85, 83, 83);
    position: absolute;
    margin-left: 87%;
    margin-top: -60px;
    opacity: 0.7;
}

.footer-icon {
    margin-top: -50px;
    cursor: pointer;
    width: 38px;
    height: 28px;
    /*margin-left: 468px;*/
    margin-left: 89.5%;
    border: 1px solid rgb(27, 27, 27);
}
.menu-icon {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 5px;
  /*margin-left: 475px;*/
}

.rotate-one {
    transform: rotate(45deg);
    margin-top: -8px;
    transition: 0.3s;
}

.rotate-two {
    transform: rotate(-220deg);
    margin-top: 12px;
    transition: 0.3s;
}

.rotate-three {
    transform: rotate(0deg);
    transition: 0.3s;
}

.rotate-four {
    transform: rotate(0deg);
    transition: 0.3s;
}

.main-page {
    width: 100%;
    height: 100vh;
    background-image: url("portfolio-images/piano.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    filter: brightness(45%);
}



.vertical-line {
    width: 4px;
    height: 193px;
    background-color: rgb(255, 207, 51);
    position: absolute;
    margin-top: -423px;
    margin-left: 40%;
}

.main-text {
    position: absolute;
    margin-top: -450px;
    margin-left: 42%;
    line-height: 40px;
}

.main-text h2 {
    color: rgb(255, 207, 51);
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: initial;
}

.main-text h1 {
    color: rgb(255, 255, 255);
    font-size: 3.4vw;
    font-weight: initial;
    font-family: 'Open Sans', sans-serif;
}

h1 span {
    border: 1px solid rgb(255, 255, 255);
    padding: 2px 7px;
    font-size: 3.6vw;
    font-weight: 200;
}

.main-text h3 {
    font-size: 2.2vw;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: initial;
}

span.portfolio {
    color: rgb(255, 207, 51);
    border: 1px solid rgb(255, 207, 51);
    font-size: 2.2vw;
    font-weight: initial;
    letter-spacing: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.left-background1 {
    /*width: 524px;*/
    width: 40%;
    height: 100vh;
    background-image: url("portfolio-images/ds.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(60%);
}

.horizontal-line {
    width: 80%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 587px;
    margin-left: 11.5%;
    opacity: 1;
}

.secondVertical-line {
    width: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 422px;
    margin-left: 11.5%;
    margin-top: 170px;
}


#h, #t, #m, #l, #c, #s, #s1 {
    /*width: 50px;*/
    width: 4%;
    position: fixed;
    margin-top: 280px;
    display: none;
}

#h {
    margin-left: 12%;
    margin-top: 284px;
}

#t {
    margin-left: 17%;
    margin-top: 292px;
}

#m {
    margin-left: 22%;
}

#l {
    margin-left: 27%;
}

#c {
    margin-left: 12.5%;
    margin-top: 280px;
    width: 70px;
}

#s {
    margin-left: 16.5%;
    margin-top: 280px;
    width: 110px;
}

#s1 {
    margin-left: 22%;
    margin-top: 280px;
    width: 110px;
}

.works, .contact, .about {
    width: 60%;
    background-color: rgb(255, 255, 255);
    float: right;
}



.about, .contact {
    display: none;
}

.second-footer {
    width: 100%;
    height: 57.5px;
    background-color: rgb(27, 27, 27);
    padding-top: 13px;
}

.my-works {
   background-color: rgb(255, 207, 51);
   width: 150px;
   margin-left: 2%;
   text-align: center;
   height: 45px;
   cursor: pointer;
}

.my-works > h2 {
    padding: 9px 1px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 100;
}

.contact > h1, .about > h1, .works > h1{
   margin-left: 5%;
   font-size: 28px;
   cursor: pointer;
   margin-top: 20px;
}

.about > h2 {
   margin-left: 5%;
   font-size: 26px;
   font-weight: 100;
}

.about > p {  
    font-size: 17px;
    font-weight: 600;
    margin-left: 6%;
 }

 span.light-text {
    font-size: 16px;
    font-weight: 100;
 }

.about > h4 {  
    font-size: 26px;
 }

 .about > h5 {  
    font-size: 18px;
    margin-left: 5%;
    width: 90%;
 }

.contact > h4, .about > h4 {
    padding-top: 20px;
    margin-left: 5%;
    line-height: 0;
}

.about > ul {
    margin-left: 3%;
    line-height: 28px;
}

.contact > .horizontal-line, .about > .horizontal-line, .works > .horizontal-line {
    width: 90%;
    margin-left: 43px;
    height: 3px;
    background-color: rgb(255, 207, 51);
    margin-top: -5px;
    position: unset;
}

.second-footer .line {
    width: 1.5px;
    height: 50px;
    background-color: rgb(85, 83, 83);
    position: absolute;
    opacity: 0.7;
    margin-top: -2px;
}

.squars {
    width: 150px;
    height: 150px;
    border: 2px solid brown;
    float: left;
    margin: 5px;
}


.fixed {
        position: fixed;
        top: 0; 
}

.top {
    padding-top: 70px;
}

.left {
    margin-left: 16px;
} 


.menu {
    width: 40%;
    height: 588px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    display: none;
}

#myImage {
    width: 115px;
    border: 2.5px solid rgb(255, 207, 51);
    border-radius: 50%;
    margin-left: 39%;
    margin-top: 130px;
}

.menu > p {
   color: white;
   text-align: center;
}

.menu-list {
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.7s;
 }

 .menu-list:hover {
    font-size: 21px;
 }

#container {
    width: 99%;
    height: 1500px;
    margin-top: -90px;
}


#template {
    width: 45%;
    height: 200px;
    margin-left: 4%;
    background-image: url("portfolio-images/template.png");
    background-size: 200%; 
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

#main {
    width: 45%;
    height: 200px;
    margin-left: 1%;
    background-image: url("portfolio-images/main.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border: 4px dotted black;
    margin-top: 10px;
    cursor: pointer;
    float: right;
}

#quiz {
    width: 45%;
    height: 200px;
    margin-left: 4%;
    background-image: url("portfolio-images/quiz.png");
    background-size: 173%; 
    background-repeat: no-repeat;
    background-position: center;
    border: 4px dotted black;
    margin-top: 260px;
    cursor: pointer;
}


#game {
    width: 45%;
    height: 200px;
    margin-left: 4%;
    background-image: url("portfolio-images/game1.png");
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    margin-top: 40px;
    cursor: pointer;
    float: left;
}

#website {
    width: 45%;
    height: 200px;
    margin-top: -208px;
    background-image: url("portfolio-images/website.png");
    background-size: 185%; 
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    cursor: pointer;
    float: right;
}


@media only screen and (max-width: 900px) {
   .footer {
       width: 100%;
   }

   .left-background1 {
       display: none;
   }
   .second-footer {
       display: none;
   }
   #h, #t, #m, #l, #c, #s, #s1 {
       width: 0.1%;
       margin: 0;
   }
    #template {
        width: 80%;
        margin-left: -66.5%;
        height: 200px;
    }

    #main {
        width: 75%;
        margin-left: -66.5%;
        height: 200px;
    }

    #quiz {
        width: 80%;
        margin-left: -66.5%;
        height: 200px;
    }

    #game {
        width: 80%;
        margin-left: -66.5%;
        height: 200px;
    }

    #website {
        width: 75%;
        margin-top: -208px;
        height: 200px;
    }

    #html {
     padding-left: 20px;
    }

    .menu {
        width: 100%;
        height: 100vh;
    }

    #myImage {
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    .vertical-line {
        margin-left: 22%;
    }

    .main-text {
        margin-left: 24%;
    }

    .works>h1 {
        margin-left: -3.5%;
    }

    .works>.horizontal-line {
        margin-left: -65%;
        width: 163%;
    }

    .about, .contact {
        float: left;
        width: 100%;
    }

    .about>.horizontal-line, .contact>.horizontal-line {
        margin-left: 4%;
        width: 92%;

    }
};
