html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    width: 524px;
    height: 70px;
    background-color: rgb(27, 27, 27);
    position: fixed;
    margin-top: -658px;
}

.css-logo {
    width: 38%;
    height: 100%;
    background-color: rgb(255, 207, 51);
}

.css-logo > #css {
    width: 45px;
    display: block;
    margin: auto;
    padding-top: 4px;
    cursor: pointer;
}

.css-logo > #html {
    width: 65px;
    display: block;
    margin: auto;
    padding-top: 4px;
    cursor: pointer;
    margin-top: -1.5px;
    display: none;
    margin-left: 67px;
}

.footer .line {
    width: 1.5px;
    height: 50px;
    background-color: rgb(85, 83, 83);
    position: absolute;
    margin-left: 454px;
    margin-top: -60px;
    opacity: 0.7;
}

.footer-icon {
    margin-top: -50px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin-left: 468px;
}
.menu-icon {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 5px;
  /*margin-left: 475px;*/
}

.rotate-one {
    transform: rotate(45deg);
    margin-top: -8px;
    transition: 0.3s;
}

.rotate-two {
    transform: rotate(-220deg);
    margin-top: 12px;
    transition: 0.3s;
}

.rotate-three {
    transform: rotate(0deg);
    transition: 0.3s;
}

.rotate-four {
    transform: rotate(0deg);
    transition: 0.3s;
}

.main-page {
    width: 100%;
    height: 658px;
    background-image: url("portfolio-images/piano.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    filter: brightness(45%);
}

.vertical-line {
    width: 4px;
    height: 193px;
    background-color: rgb(255, 207, 51);
    position: absolute;
    margin-top: -423px;
    margin-left: 523.5px;
}

.main-text {
    position: absolute;
    margin-top: -450px;
    margin-left: 548px;
    line-height: 40px;
}

.main-text h2 {
    color: rgb(255, 207, 51);
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: initial;
}

.main-text h1 {
    color: white;
    font-size: 44px;
    font-weight: initial;
    font-family: 'Open Sans', sans-serif;
}

h1 span {
    border: 1px solid rgb(255, 255, 255);
    padding: 2px 7px;
    font-size: 47px;
    font-weight: 200;
}

.main-text h3 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: initial;
}

span.portfolio {
    color: rgb(255, 207, 51);
    border: 1px solid rgb(255, 207, 51);
    font-size: 26px;
    font-weight: initial;
    letter-spacing: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.left-background1 {
    width: 524px;
    height: 658px;
    background-image: url("portfolio-images/ds.jpg");
    position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(60%);
}

.horizontal-line {
    width: 380px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 587px;
    margin-left: 60px;
    opacity: 1;
}

.secondVertical-line {
    width: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 460px;
    margin-left: 60px;
    margin-top: 130px;
}


#h, #t, #m, #l, #c, #s, #s1 {
    width: 50px;
    position: fixed;
    margin-top: 280px;
    display: none;
}

#h {
    margin-left: 150px;
    margin-top: 284px;
}

#t {
    margin-left: 220px;
    margin-top: 292px;
}

#m {
    margin-left: 290px;
}

#l {
    margin-left: 360px;
}

#c {
    margin-left: 150px;
    margin-top: 280px;
    width: 70px;
}

#s {
    margin-left: 215px;
    margin-top: 280px;
    width: 110px;
}

#s1 {
    margin-left: 300px;
    margin-top: 280px;
    width: 110px;
}

.works, .contact, .about {
    width: 788px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    float: right;
}



.about, .contact {
    display: none;
}

.second-footer {
    width: 100%;
    height: 57.5px;
    background-color: rgb(27, 27, 27);
    padding-top: 13px;
}

.my-works {
   background-color: rgb(255, 207, 51);
   width: 150px;
   margin-left: 20px;
   text-align: center;
   height: 45px;
   cursor: pointer;
}

.my-works > h2 {
    padding: 9px 1px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 100;
}

.contact > h1, .about > h1, .works > h1{
   margin-left: 40px;
   font-size: 28px;
   cursor: pointer;
   margin-top: 120px;
}

.about > h2 {
   margin-left: 40px;
   font-size: 26px;
   font-weight: 100;
}

.about > p {  
    font-size: 17px;
    font-weight: 600;
    margin-left: 40px;
 }

 span.light-text {
    font-size: 16px;
    font-weight: 100;
 }

.about > h4 {  
    font-size: 26px;
 }

 .about > h5 {  
    font-size: 18px;
    margin-left: 40px;
    width: 90%;
 }

.contact > h4, .about > h4 {
    padding-top: 20px;
    margin-left: 40px;
    line-height: 0;
}

.about > ul {
    margin-left: 18px;
    line-height: 28px;
}

.contact > .horizontal-line, .about > .horizontal-line, .works > .horizontal-line {
    width: 55%;
    margin-left: 43px;
    height: 3px;
    background-color: rgb(255, 207, 51);
    margin-top: -5px;
}

.second-footer .line {
    width: 1.5px;
    height: 50px;
    background-color: rgb(85, 83, 83);
    position: absolute;
    opacity: 0.7;
    margin-top: -2px;
}

.squars {
    width: 150px;
    height: 150px;
    border: 2px solid brown;
    float: left;
    margin: 5px;
}


.fixed {
        position: fixed;
        top:0; 
}


.menu {
    width: 523.5px;
    height: 588px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    display: none;
}

#myImage {
    width: 115px;
    border: 2.5px solid rgb(255, 207, 51);
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 130px;
}

.menu > p {
   color: white;
   text-align: center;
}

.menu-list {
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.7s;
 }

 .menu-list:hover {
    font-size: 21px;
 }


#template {
    width: 320px;
    height: 190px;
    margin-left: 40px;
    background-image: url("portfolio-images/template.png");
    background-size: 173%; 
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

#quiz {
    width: 320px;
    height: 190px;
    background-image: url("portfolio-images/quiz.png");
    background-size: 173%; 
    background-repeat: no-repeat;
    background-position: center;
    border: 4px dotted black;
    margin-left: 420px;
    margin-top: 10px;
    position: absolute;
    cursor: pointer;
}

#game {
    width: 320px;
    height: 190px;
    margin-left: 40px;
    background-image: url("portfolio-images/game1.png");
    background-size: 185%; 
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    margin-top: 250px;
    cursor: pointer;
}

#website {
    width: 320px;
    height: 190px;
    margin-left: 420px;
    margin-top: -198px;
    background-image: url("portfolio-images/website.png");
    background-size: 185%; 
    background-position: center;
    background-repeat: no-repeat;
    border: 4px dotted black;
    cursor: pointer;
    position: absolute;
}

#template:hover {
    width: 330px;
    height: 195px;
    margin-left: 35px;
}

#quiz:hover {
    width: 330px;
    height: 195px;
    margin-left: 415px;
}

#game:hover {
    width: 330px;
    height: 195px;
    margin-left: 35px;
}


.one {
    width: 50px;
    height: 200px;
    background-color: blue;
}
